TCC/rel parcial/TS_ALUNO_9EF_2019_co.csv
TCC/rel parcial/TS_ALUNO_9EF_2019.csv
TCC/rel parcial/TS_ESCOLA_2019_co.csv
TCC/rel parcial/TS_ESCOLA_2019.csv
TCC/rel parcial/dados_tcc.csv
TCC/relatorio/TS_ALUNO_9EF_2019_co.csv
TCC/relatorio/TS_ALUNO_9EF_2019.csv
TCC/relatorio/TS_ESCOLA_2019_co.csv
TCC/relatorio/TS_ESCOLA_2019.csv
TCC/relatorio/dados_tcc.csv

