DATAVIS/pair/Project/BR_UF_2022/BR_UF_2022.cpg
DATAVIS/exercises/SugExe09/CISC3015-SugEx09-Topics-DC427182.zip
DATAVIS/pair/CISC3015-PAIR05-DC427182-DataViz.zip
DATAVIS/pair/CISC3015-PAIR05-DC427182-EDA01-08.zip
DATAVIS/pair/Project/BR_UF_2022/BR_UF_2022.dbf
DATAVIS/pair/Project/BR_UF_2022/BR_UF_2022.prj
DATAVIS/pair/Project/BR_UF_2022/BR_UF_2022.shx
DATAVIS/tutorials/Tutorial07/Datasets/world_cities_pop.csv
DATAVIS/exercises/SugExe09/maintenance.csv
DATAVIS/exercises/SugExe10/air_quality_no2.csv
DATAVIS/exercises/SugExe09/company_operations.db
DATAVIS/exercises/SugExe09/customers.json
DATAVIS/exercises/SugExe10/mpg.csv
DATAVIS/exercises/SugExe10/penguins.csv
DATAVIS/exercises/SugExe10/weight_mpg.pdf
DATAVIS/exercises/SugExe10/weight_mpg.png
DATAVIS/midterm/brfss.hdf5
DATAVIS/midterm/gss.hdf5
DATAVIS/pair/DataViz/airbnb_new_york_smaller.csv
DATAVIS/pair/DataViz/stock_prices.csv
DATAVIS/pair/EDA/cars.csv
DATAVIS/pair/EDA/census.csv
DATAVIS/pair/EDA/covid19.csv
DATAVIS/pair/EDA/london.csv
DATAVIS/pair/EDA/netflix.csv
DATAVIS/pair/EDA/police.csv
DATAVIS/pair/EDA/udemy.csv
DATAVIS/pair/EDA/weather.csv
DATAVIS/pair/Project/TS_ESCOLA_2019.csv
DATAVIS/pair/Project/TS_ESTADOS.csv
DATAVIS/pair/Project/BR_UF_2022/BR_UF_2022.shp
DATAVIS/tutorials/Tutorial04/Datasets/census.csv
DATAVIS/tutorials/Tutorial04/Datasets/covid19.csv
DATAVIS/tutorials/Tutorial04/Datasets/london.csv
DATAVIS/tutorials/Tutorial04/Datasets/netflix.csv
DATAVIS/tutorials/Tutorial04/Datasets/udemy.csv
DATAVIS/tutorials/Tutorial07/Datasets/us_states.json
DATAVIS/tutorials/Tutorial07/Datasets/flight_tracking.csv
DATAVIS/tutorials/Tutorial08/Datasets/stock_prices.csv
DATAVIS/tutorials/Tutorial08/Datasets/olympia2016_athletes.csv
DATAVIS/tutorials/Tutorial08/Datasets/automobiles.csv
DATAVIS/tutorials/Tutorial08/Datasets/world_population.csv
DATAVIS/Crime_Data_from_2020_to_Present.csv
TCC/relatorio/DADOS/dados_tcc.csv
TCC/relatorio/DADOS/df_used.csv
TCC/relatorio/DADOS/TS_ALUNO_9EF_2019_co.csv
TCC/relatorio/DADOS/TS_ALUNO_9EF_2019.csv
TCC/relatorio/DADOS/TS_ESCOLA_2019_co.csv
TCC/relatorio/DADOS/TS_ESCOLA_2019.csv
TCC/relatorio/DADOS/df_center.csv
DATAVIS/project/CISC3015-Pair05-Project-DigitalStory-Poster/CISC3015-Pair05-DigitalStory.mp4
